.community {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
}

.downloads {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.download {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.download img {
    width: 100%;
}

.download .pdf {
    transform: translateX(-8px);
}

.download h3 {
    font-size: 12px;
}

.download button {
    background: #004E89;
    color: #F8FBF8;
    font-size: 12px;
}

.download button:hover {
    background: #004E89;
    color: #84c7e5;
    border: 1px solid #84c7e5;
}

@media (max-width: 1400px) {
    .community {
        justify-content: space-around;
        gap: 50px;
    }
}

@media (max-width: 600px) {
    .community {
        gap: 25px;
    }
}