.national-team {
    display: flex;
    flex-direction: column;
}

.paragrph-image {
    display: flex;
    gap: 20px;
}

.paragrph-image img {
    max-width: 400px;
    max-height: 144px;
}

.national-team-list {
    display: list-item;
}

.national-team-list li {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0%;
    color: #293241;
    list-style: disc;
    padding-bottom: 5px;
}

.tabs-header {
    border-bottom: 1px solid #004E89;
    margin-bottom: 20px;
}

.tabs-button {
    background: transparent;
    color: #004E89;
    padding: 10px 20px;
}

.tabs-button:hover,
.tabs-button:focus,
.tabs-button:not(:hover) {
    background: transparent;
    color: #004E89;
    padding: 10px 20px;
    border: none;
}

.active {
    background: transparent;
    color: #004E89;
    font-weight: 800;
    border-bottom: 3px solid #004E89 !important;
    border-radius: 0;
}

.active:hover {
    background: transparent;
    color: #004E89;
    padding: 10px 20px;
    border: none;
    font-weight: 800;
    border-bottom: 3px solid #004E89;
    border-radius: 0;
}

.tabs-content {
    width: 100%;
}

.tabs-content-1 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tabs-content-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.tabs-content-2-1,
.tabs-content-2-2 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.national-team-past-competition {
    color: #004E89;
    background: #F8FBF8;
    border: 2px solid #004E89;
    width: 300px;
}

.national-team-past-competition h3 {
    background: #004E89;
    color: #F8FBF8;
}

.national-team-past-competition a p {
    background-color: #caf0f8;
    color: #004E89;
    padding: 6px 0 4px 0;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.national-team-past-competition a p:hover {
    background-color: #004E89;
    color: #caf0f8;
    border-top: 2px solid #caf0f8;
    padding: 4px 0;
}

.national-team-past-competition li {
    list-style: decimal;
    font-size: 18px;
    margin-left: 30px;
    padding: 5px 0;
}
@media (max-width: 1400px) {
    .national-team-list li {
        font-size: 16px;
    }
    .national-team-past-competition {
        width: 200px;
    }
    .national-team-past-competition li {
        font-size: 16px;
    }

}

@media (max-width: 1150px) {
    .paragrph-image {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

}

@media (max-width: 1290px) {
    .tabs-content-1 {
        gap: 5px;
    }
}

@media (max-width: 992px) {
    .national-team-list li {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .national-team-list li {
        font-size: 13px;
    }

    .paragrph-image img {
        max-width: 300px;
    }

    .tabs-header {
        display: flex;
        max-width: 100%;
        margin-bottom: 10px;
    }
    
    .tabs-button {
        padding: 5px 10px;
    }
    
    .tabs-button:hover,
    .tabs-button:focus,
    .tabs-button:not(:hover) {
        padding: 5px 10px;
        border: none;
    }
    
    .active {
        font-weight: 700;
        border-bottom: 2px solid #004E89 !important;
    }
    
    .active:hover {
        padding: 5px 10px;
        font-weight: 700;
        border-bottom: 2px solid #004E89;
    }
}