@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  list-style: none;
}

#root {
  width: 100%;
}

body {
  background: #F8FBF8;
}

h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #293241;
}

h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #293241;
}

h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0%;
  color: #293241;
}

h4 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0%;
  color: #293241;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0%;
  color: #293241;
}

section {
  padding: 25px 300px;
  gap: 30px;
  background: #F8FBF8;
  display: flex;
  flex-direction: column;
}

button:focus,
button:active {
  outline: none;
  border: none;
}

@media (max-width:1400px) {
  h1 {
    font-size: 28px;
    font-weight: 600;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
  }

  h4 {
    font-size: 14px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
  }

  section {
    padding: 25px 200px;
    gap: 25px;
  }

  button:focus,
  button:active {
    outline: none;
    border: none;
  }


  section {
    padding: 25px 150px;
  }
}

@media (max-width: 992px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 12px;
  }

  p {
    font-size: 14px;
  }

  section {
    padding: 25px 100px;
  }
}

@media (max-width:835px) {
  section {
    padding: 25px 50px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 11px;
  }

  p {
    font-size: 13px;
  }

  section {
    padding: 20px 25px;
  }
}